.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.box-selection {
    margin-bottom: 20px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 24px;
    height: 15px;
    width: 15px;
    accent-color: rgb(213, 210, 204);
    flex-shrink: 0;
}

input[type="range"] {
    appearance: none;
    width: 125px;
    height: 15px;
    background: #ccc;
    border: 1px solid #999;
    border-radius: 1px;
    margin-left: auto;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #555;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 1px;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #555;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 1px;
}

input[type="range"]::-ms-thumb {
    width: 15px;
    height: 15px;
    background: #555;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 1px;
}

.ribbon-option {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ribbon-option input[type="range"] {
    margin-left: auto;
}

.ribbon-option img {
    width: 100px;
    height: 30px;
    margin-right: 24px;
    object-fit: contain;
}

.ribbon-option label {
    cursor: pointer;
}

.rank-radio {
    margin-right: 24px;
    display: flex;
    align-items: center;
}

.rank-radio img {
    width: 60px;
    height: 60px;
    margin-right: 24px;
    object-fit: contain;
}

.badge-checkbox {
    margin-right: 24px;
    display: flex;
    align-items: center;
}

.badge-checkbox img {
    width: 60px;
    height: 60px;
    margin-right: 24px;
}

.rack-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rack {
    width: 600px;
    flex-wrap: wrap;
    justify-content: center;
}

/* ribbon container */
.rack-ribbon {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* ribbon img */
.rack-ribbon-img {
    width: 100px;
    height: 30px;
    object-fit: contain;
}

/* ribbon oak container */
.ribbon-oak {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 3px;
}

/* ribbon oak img */
.ribbon-oak-img {
    position: static;
    width: 20px;
    height: 20px;
    margin: 0 0px;
}

.rack-badge-img {
    width: 60px;
    height: 60px;
    margin: 2px;
    object-fit: contain;
}

.rack .row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    gap: 10px;
}

/* .rack .row img {
    margin: 0 5px;
} */

.button-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}

.tabs {
    border: 1px solid #ccc;
}

.tabs ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tabs li {
    width: 100%;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    padding: 1rem 0;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.tab-content div {
    padding: 2rem;
}

.bg-inactive {
    background-color: white;
}

.bg-active {
    background-color: #ccc;
}
