@import './base.css';

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-weight: normal;
}

button {
  font-family: StratumBold, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  height: 40px;
  text-transform: uppercase;
  border: 0px solid #ffffff;
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  border-radius: 0px;
}

.bg-inactive {
  background-color: white;
}

.bg-active {
  background-color: #ccc;
}
